#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
}

.cover {
  @apply rounded-lg drop-shadow-lg;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.info {
  margin-bottom: 1rem;
}

.info h2 {
  margin: 0;
  font-size: 1.5rem;
}

.info p {
  margin: 0.25rem 0;
  color: #666;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  align-items: center;
}

/* .controls button,
.controls button:hover {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
} */

.progress-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
}

.progress-bar {
  flex: 1;
  height: 6px;
  background: #e3e3e3;
  border-radius: 333px;
  cursor: pointer;
  position: relative;
  transition: height 0.25s ease-in-out;
}

.progress-bar:hover {
  height: 8px;
}

.progress-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #333;
  border-radius: 333px;
  transition: width 0.1s linear;
}

.time {
  font-size: 0.875rem;
  color: #666;
  min-width: 45px;
  font-family: monospace;
}

.playlist {
  @apply p-4 sm:p-0;
  max-height: 70vh;
  overflow-y: auto;
}

.playlist-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.playlist-item:hover {
  background-color: #f5f5f5;
}

.playlist-item.active {
  background-color: #e3e3e3;
}

.playlist-cover {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: cover;
}

.playlist-info {
  flex: 1;
  text-align: left;
}

.song-name {
  font-weight: 500;
}

.singer-name {
  font-size: 0.875rem;
  color: #666;
}

.playlist-control {
  display: flex;
  justify-content: center;
}

.playlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .controls button,
.controls button:hover,
.playlist-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
} */

.playlist-dialog {
  min-width: 400px;
}
